In [74]:
# imports
import os
import pandas as pd

In [83]:
# reading in the data
year = 2019
FILE_PATH = os.path.join(os.getcwd(), '..', 'raw_data', f'city_crime_data_{year}.csv')
df = pd.read_csv(FILE_PATH, skiprows=3, skipfooter=8)
df.columns = ['state_name', 'city_name', 'population', 'violent_crime', 'murder_and_nonnegligent_homicide',
                'rape', 'robbery', 'aggravated_assault', 'property_crime', 'burglary',
                'larceny_theft', 'motor_vehicle_theft', 'arson']
df.head()

,state_name,city_name,population,violent_crime,murder_and_nonnegligent_homicide,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,ALABAMA3,Hoover,"85,670",114,4.0,15,27,68,"1,922",128,"1,694",100,2
1,ALASKA,Anchorage,"287,731","3,581",32.0,540,621,"2,388","12,261","1,692","9,038","1,531",93
2,NaN,Bethel,"6,544",130,1.0,47,3,79,132,20,84,28,12
3,NaN,Bristol Bay Borough,852,2,0.0,0,0,2,20,5,8,7,0
4,NaN,Cordova,"2,150",0,0.0,0,0,0,7,1,6,0,0

In [84]:
# basic cleaning
df['state_name'] = df['state_name'].fillna(method='ffill')
df['state_name'] = df['state_name'].apply(lambda x: ''.join([letter for letter in x if not letter.isdigit()]))
df['state_name'] = df['state_name'].apply(lambda x: x.capitalize())
df['city_name'] = df['city_name'].apply(lambda x: ''.join([letter for letter in x if not letter.isdigit()]))
df = df.fillna('n/a')
for column in df.columns[2:]:
    df[f'{column}'] = df[f'{column}'].apply(lambda x: str(x))
    df[f'{column}'] = df[f'{column}'].apply(lambda x: float(x.replace(',', '')) if x != 'n/a' else x)

In [87]:
df

,state_name,city_name,population,violent_crime,murder_and_nonnegligent_homicide,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,Alabama,Hoover,85670,114,4,15,27,68,1922,128,1694,100,2
1,Alaska,Anchorage,287731,3581,32,540,621,2388,12261,1692,9038,1531,93
2,Alaska,Bethel,6544,130,1,47,3,79,132,20,84,28,12
3,Alaska,Bristol Bay Borough,852,2,0,0,0,2,20,5,8,7,0
4,Alaska,Cordova,2150,0,0,0,0,0,7,1,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,Wyoming,Sheridan,17895,9,0,4,0,5,369,75,278,16,3
8101,Wyoming,Thermopolis,2830,13,0,0,0,13,34,7,22,5,0
8102,Wyoming,Torrington,6709,13,0,4,1,8,48,8,40,0,0
8103,Wyoming,Wheatland,3544,7,0,1,0,6,72,24,45,3,0
8104,Wyoming,Worland,5026,8,0,5,0,3,36,6,30,0,0